[Desktop Entry]
Type=Application
Name=Search Maps
Comment=Search for places on a map
Exec=run_search_maps.sh
Icon=search_maps.png
Terminal=false
Categories=Utility;Geography;